{% extends 'home/base_logged.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block title %}
MoonPortfolio | {% for coin in data %} {% if coin.symbol == asset_symbol %} {{coin.name }} {% endif %} {% endfor %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row m-5">
      
        <div class="container">
          <p><a href="{% url 'market_simplified' %}">Market</a> > <a href="">{% for coin in data %} {% if coin.symbol == asset_symbol %} {{coin.name }} {% endif %} {% endfor %} <img src="{% for coin in data %} {% if coin.symbol == asset_symbol %} {{coin.image }} {% endif %} {% endfor %}" style="max-height:2%; width:2%; object-fit: contain;" class="img-fluid" alt="Responsive image"></a></p>
          <div class="row">
                          
            <div class="card shadow" style="width: 100%; border-radius: 50px;">
              <div class="card-body">
                <div class="row">
                  <div class="col-4 ml-4">
                    <h3 class="card-title">
                      <img src="{% for coin in data %} {% if coin.symbol == asset_symbol %} {{coin.image }} {% endif %} {% endfor %}" style="height:50%; width:15%; object-fit: contain;" alt="Responsive image">
                      {% for coin in data %} {% if coin.symbol == asset_symbol %} {{coin.name }} {% endif %} {% endfor %} 
                      <span class="badge rounded-pill bg-dark text-uppercase text-light">{% for coin in data %} {% if coin.symbol == asset_symbol %} {{coin.symbol }} {% endif %} {% endfor %}</span>
                    </h3>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Rank -> #{% for coin in data %} {% if coin.symbol == asset_symbol %} {{coin.market_cap_rank }} {% endif %} {% endfor %}
                    </h6>
                    <p class="card-text"></p>
                    <a href="" class="card-link">Official Website</a>
                  </div>
    
                  <div class="col">
                    {% for coin in data %}
                      {% if coin.symbol == asset_symbol %}

                        <div class="card shadow-sm" style="width: 100%; border-radius: 25px;">
                          <div class="card-body">
                            <h3 class="card-title">
                              {{coin.name }} Price
                            </h3>
                            <p class="card-text fw-bold">
                              ${{ coin.current_price|floatformat:"4" }}
                              {% if coin.price_change_percentage_24h >= 0 %}
                                <span class="badge bg-success text-light" style="color: rgb(159, 232, 35);">+{{ coin.price_change_percentage_24h|floatformat:"2" }}%
                                  <img src="{% static 'img/up.png' %}" alt="" width="15" height="15">
                                </span>
                              {% elif coin.price_change_percentage_24h < 0 %}
                                <span class="badge bg-danger text-light">{{ coin.price_change_percentage_24h|floatformat:"2" }}%
                                  <img src="{% static 'img/down.png' %}" alt="" width="15" height="15"> 
                                </span>
                              {% endif %}
                            </p>
                          </div>
                        </div>

                        <div class="card shadow-sm" style="width: 100%; border-radius: 25px;">
                          <div class="card-body">
                            <h3 class="card-title">
                              Market Cap
                            </h3>
                            <p class="card-text fw-bold">
                              ${{ coin.market_cap|intcomma }}
                            </p>
                          </div>
                        </div>

                      {% endif %}
                    {% endfor %}
                  </div>

                  <div class="col">
                    {% for coin in data %}
                      {% if coin.symbol == asset_symbol %}
                        <div class="row">

                          <div class="col">
                            <div class="card shadow-sm" style="width: 100%; border-radius: 25px;">
                              <div class="card-body">
                                <h3 class="card-title">
                                  ATH
                                </h3>
                                <p class="card-text fw-bold">
                                  ${{ coin.ath|intcomma }}
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="col">
                            <div class="card shadow-sm" style="width: 100%; border-radius: 25px;">
                              <div class="card-body">
                                <h3 class="card-title">
                                  ATL
                                </h3>
                                <p class="card-text fw-bold">
                                  ${{ coin.atl|intcomma }}
                                </p>
                              </div>
                            </div>                            
                          </div>
                        </div>

                        <div class="card shadow-sm" style="width: 100%; border-radius: 25px;">
                          <div class="card-body">
                            <h3 class="card-title">
                              Supply : {{ coin.circulating_supply|div:coin.total_supply|mul:100|floatformat:"2" }}%
                            </h3>
                            <p class="card-text fw-bold">
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ coin.circulating_supply|div:coin.total_supply|mul:100 }}%"></div>
                              </div>
                              Circulating Supply : {{ coin.circulating_supply|intcomma }}
                              Max Supply : {{ coin.total_supply|intcomma }}                    
                            </p>
                          </div>
                        </div>

                        



                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="row mt-5">  
              {% for coin in data %}
                {% if coin.symbol == asset_symbol %}
                  <!-- TradingView Widget BEGIN -->
                  <div class="tradingview-widget-container">
                    <div id="tradingview_dc5d2"></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                      new TradingView.widget(
                      {
                      "width": 1014,
                      "height": 610,
                      "symbol": "BINANCE:{{coin.symbol }}USDT",
                      "interval": "D",
                      "timezone": "Etc/UTC",
                      "theme": "dark",
                      "style": "1",
                      "locale": "fr",
                      "toolbar_bg": "#f1f3f6",
                      "enable_publishing": false,
                      "allow_symbol_change": true,
                      "container_id": "tradingview_dc5d2"
                    }
                      );
                    </script>
                  </div>
                  <!-- TradingView Widget END -->
                {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}