{% extends 'home/base_logged.html' %}
{% load static %}

{% block title %}
MoonPortfolio | Market
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <h1>Market</h1>
        <div class="container m-5">
            <table class="table table-hover table-bordered" id="coins" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th scope='col'>#</th>
                        <th scope='col'>Name</th>
                        <th scope='col'>Price</th>
                        <th scope='col'>Market Cap</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                        {% for coin in data %}
                            <tr>
                                <td class='align-middle'>{{ coin.market_cap_rank }}</td>
                                <td class='align-middle'><img src={{ coin.image }} height='40'> <a href="asset/{{ coin.symbol }}">{{ coin.name }} {{ coin.symbol }}</a></td>
                                <td class='align-middle'>{{ coin.current_price }} $US</td>
                                <td class='align-middle'>{{ coin.market_cap }} $US</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h3>No data from CoinGecko</h3>
                    {% endif %}
                </tbody>
            </table>
        </div>

  </div>
</div>

<script>
    $(document).ready(function () {
        $('#coins').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}