{% extends 'home/base.html' %}
{% load static %}

{% block title %}
MoonPortfolio | Register
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}  
    <div class="dark-blue">

        <div class="container-flex p-1">
            
            <section class="intro m-5">
            <div class="" >
                <div class="container">
                    <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-7">
                        <div class="card" style="border-radius: 1rem; background-color: #30304b">
                        <div class="card-body p-5 text-white">

                            <form method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="text-center">
                                        <h1 class="fw-bold text-uppercase">
                                            <img src="{% static 'img/rocket.png' %}" alt="" width="45" height="45" class="d-inline-block align-text-top">
                                                Register
                                            <img src="{% static 'img/rocket.png' %}" alt="" width="45" height="45" class="d-inline-block align-text-top">
                                        </h1>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label">Username</label></br>
                                        <span class="form-control form-control-lg">{{ form.username }}</span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label">Email</label>
                                        <span class="form-control form-control-lg">{{ form.email }}</span>
                                    </div>

                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="row">
                                        <div class="col-11 col-md-6 mb-4">
                                            <div class="form-outline form-white">
                                                <label class="form-label">Password</label>
                                                <span class="form-control form-control-lg">{{ form.password1 }}</span>
                                            </div>
                                        </div>
                                        <div class="col-11 col-md-6 mb-4">
                                            <div class="form-outline form-white">
                                                <label class="form-label">Password Confirmation</label>
                                                <span class="form-control form-control-lg">{{ form.password2 }}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="text-center py-4">
                                    <input  class="btn btn-light btn-lg btn-rounded px-5" type="submit" name="Create User" value="Register">
                                </div>

                            </form>

                            <div class="text-white">
                                <p>{{ form.errors }}</p>
                            </div>

                            <div class="text-center">
                                <p class="mb-0 text-white fw-bold">Already have a Moon member ? <a href="{% url 'login' %}">Login here !</a></p>
                            </div>

                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </section>
        </div>
    </div>
{% endblock %}