{% extends 'home/base.html' %}

{% block title %}
MoonPortfolio
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    
    <h1>MoonPortfolio Blog 🌑</h1>
    <div class="row">
        
            {% for article in articles %}
                <div class="card-img-top m-5" src="" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p>Created : {{ article.date }} by {{ article.author }}</p>
                        <p class="card-text">{{ article.body }}</p>
                        <a href="article/{{ article.title }}" class="btn btn-primary">See More</a>
                    </div>
                </div>
            {% endfor %}

    </div>

</div>
{% endblock %}