{% extends 'home/base_logged.html' %}

{% block title %}
MoonPortfolio | {{post.title}}
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{post.title}}</h1>
    <div class="row">

        <small>Created : {{ post.date }} by {{ post.author }}</small>
        <br><br>
        <p>{{ post.body }}</p>
        <p>{{ message }}</p>
        <img src="{{ post.image.url }}" style="max-height: 20vh; width:100%; object-fit: contain;" class="img-fluid" alt="Responsive image">
        <br/>
        <a class="btn btn-secondary" href="{% url 'blog' %}">Back</a>

    </div>
</div>
{% endblock %}