{% extends 'home/base_logged.html' %}

{% block title %}
MoonPortfolio | {{post.title}}
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{post.title}}</h1>
            <small>Created : {{ post.date }} by {{ post.author }}</small>
            <br><br>
            <p>{{ post.body }}</p>
            <p>{{ message }}</p>

            <br/>
            <a class="btn btn-secondary" href="{% url 'blog' %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}