<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        {% load crispy_forms_tags %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script> 

        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <!-- XDSoft DateTimePicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <style>
            body{
                font-family: 'Montserrat', sans-serif;
            }
            body.modal-open {
                overflow-y: scroll; important;
            }
        </style>

        <link rel="icon" href="{% static 'img/moon.png' %}">
        {% block styles %}{% endblock %}
        
    </head>

    <body>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="bg-dark">
                <div class="container">
                    <ul class="sidebar-nav">
                        <li>
                            <a class="text-light fw-bold" href="{% url 'dashboard' %}">
                                <div class="d-flex justify-content-center p-0">
                                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_qxv9rb7w.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;" loop autoplay></lottie-player>                                
                                </div>
                                <span class="px-3 fw-bold">MoonPortfolio</span>  
                            </a>
                        </li>
                        <li style="background:rgb(0, 0, 0); border-radius: 20px;">
                            <a class="text-light fw-bold" href="{% url 'dashboard' current_portfolio.id %}" >
                                <img src="{% static 'img/desktop.png' %}" alt="" width="24" height="24" class="d-inline-block align-text-top">
                                <span class="test px-3">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-light fw-bold" href="" data-bs-toggle="modal" data-bs-target="#transactionHistoryModal">
                                <img src="{% static 'img/file.png' %}" alt="" width="24" height="24" class="d-inline-block align-text-top">
                                <span class="px-3">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-light fw-bold" href="" data-bs-toggle="modal" data-bs-target="#portfolioModifyModal">
                                <img src="{% static 'img/settings.png' %}" alt="" width="24" height="24" class="d-inline-block align-text-top">
                                <span class="px-3">Settings</span>
                            </a>
                        </li>                
                        <li>
                            <a class="text-light fw-bold" href="{% url 'profile' %}">
                                <img src="{% static 'img/user.png' %}" alt="" width="24" height="24" class="d-inline-block align-text-top">
                                <span class="px-3">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="" id="menu-toggle" href="">
                                <img src="{% static 'img/fullscreen.png' %}" alt="" width="10%" height="10%" class="d-inline-block align-text-top">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 px-0" style="background-color:#FFF5EE;">
                            <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background: #6993FF;">
                                <div class="container-fluid mx-4 mt-2">
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="nav navbar-nav mr-auto">
                                            <li class="nav-item active">
                                                <h5>
                                                    <a class="nav-link fw-bold dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        {% block horizontal_navabar %}{% endblock %}
                                                    </a>
                                                    <ul class="dropdown-menu bg-dark mx-5" style="opacity:0.99;" aria-labelledby="navbarDropdown">
                                                        {% for user_portfolio in user_portfolios %}
                                                            <li><a class="dropdown-item text-white" href="{% url 'dashboard' user_portfolio.id %}">{{ user_portfolio.name }}</a></li>
                                                        {% endfor %}
                                                        <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#createPortfolio">
                                                            <img src="{% static 'img/plus.svg' %}" alt="" width="10" height="10" class="align-text-center">  Add a portfolio !
                                                        </button>
                                                    </ul>
                                                </h5>
                                            </li>

                                        </ul>

                                        <ul class="nav navbar-nav ms-auto">
                                            <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#addTransactionModal" style="border-radius: 25px;">
                                                <img src="{% static 'img/plus.svg' %}" alt="" width="15" height="15" class="m-1 align-text-center">  Add Transaction
                                            </button>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                            {% block body %}
                            {% endblock %}

                            <footer class="text-center text-white" style="background-color: rgb(38, 38, 38);">
                            <!-- Grid container -->
                            <div class="container p-4 pb-0 mb-4">
                                <!-- Section: Social media -->
                                <section class="mb-4">

                                    <!-- Linkedin -->
                                    <a href="https://www.linkedin.com/in/hugo-sinprasith-1b5367199/" target="blank"><img src="{% static 'img/linkedin.png' %}" alt="" width="40" height="40"></a>

                                    <!-- Github -->
                                    <a href="https://github.com/hugosinp" target="blank"><img src="{% static 'img/github.png' %}" alt="" width="40" height="40"></a>

                                </section>
                                <!-- Section: Social media -->
                                <div class="text-center fst-italic" style="color: rgba(255, 255, 255, 0.2);">
                                    Powered By CoinGecko and TradingView
                                </div>
                            </div>
                            <!-- Grid container -->

                            <!-- Copyright -->
                            <div class="text-center p-3" style="background-color: rgb(30, 30, 30);">
                                Hugo SINPRASITH © 2021 
                            </div>
                            <!-- Copyright -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="addTransactionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add a new Transaction</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <form class="text-center" action="" method="POST">
                                {% csrf_token %}
                                {{ transaction_form|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="createPortfolio" tabindex="-1" aria-labelledby="createPortfolioLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createPortfolioLabel">Choose a name for your Portfolio</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ portfolio_form|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="portfolioModifyModal" tabindex="-1" aria-labelledby="portfolioModifyModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="portfolioModifyModalLabel">Change your Portfolio name !</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ portfolio_modify_form|crispy }}                    
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
        </div>

        <script>
            $(document).ready(function(){
            $("#menu-toggle").click(function(e){
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed");
            });
            });
        </script>

    </body>
</html>