{% extends 'home/base_nonav.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
{% endblock %}

{% block title %}
{{ current_portfolio.name }} Holdings | MoonPortfolio
{% endblock %}

{% block horizontal_navabar %}
    {{ current_portfolio.name }} Dashboard
{% endblock %}


{% block body %}

  <!-- ___________________________________________ROW 1___________________________________________-->
  <div class="row my-4 mx-4">
    <!-- _____________________________Card 1_____________________________-->
    <div class="col-4 mt-3">
      <div class="card shadow-sm" style="width: 100%; border-radius: 20px;">
        <div class="card-body m-3" id="group">
            <h3 class="card-title">
                {% for coin in coin_api %}
                    {% if coin.symbol|upper == current_holding.asset_name %}
                        {{ coin.name }} Balance <img src="{{ coin.image }}" style="height:30%; width:15%; object-fit: contain;" alt="Responsive image">
                    {% endif %}                
                {% endfor %}
            </h3>

            <div style="height: 400px;">
                <h1 class="fw-bold">
                  ${{ current_holding.current_value|floatformat:"2" }}
                </h1>
                <h4>
                  {{ current_holding.total_asset_amount|floatformat:"2" }} {{ current_holding.asset_name }}
                </h4>


                <div class="card card-body mx-3 mt-5" style="border-radius: 20px;">
                    <h4 class="card-title m-1">Total Profit/Loss</h4>
                    <h2 class="fw-bold m-1">
                      {% if profit_loss >= 0 %}
                        <span class="text-success">+${{ profit_loss|floatformat:"2" }}</span>
                      {% elif profit_loss < 0 %}
                        <span class="text-danger">${{ profit_loss|floatformat:"2" }}</span>
                      {% endif %}

                    </h2>
                </div>

                <div class="card card-body m-3" style="border-radius: 20px;">
                    <h4 class="card-title m-1">Average Buy Price</h4>
                    <h2 class="fw-bold m-1">${{ current_holding.average_buy_price }}</h2>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col mt-3">

      <div class="card shadow-sm" style="width: 100%; border-radius: 20px;">
        <div class="card-body m-3">
          <h3 class="card-title">Transactions</h3>
          <div style="position: relative; height: 400px; overflow: auto; display: block;">

            <table class="table table-hover" id="coins" cellspacing="0" width="100%" >
              <thead>
                  <tr>
                      <th scope='col'>Date</th>
                      <th scope='col'>Type</th>
                      <th scope='col'>Asset</th>
                      <th scope='col'>Amount</th>
                      <th scope='col'>Price Per Coin</th>
                      <th scope='col'>Total</th>
                  </tr>
              </thead>
              <tbody>
                  {% if holding_transactions %}
                      {% for transaction in holding_transactions %}
                          <tr>
                            <td class='align-middle'>{{ transaction.transaction_date }}</td>
                            <td class='align-middle'>{{ transaction.transaction_type }}</td>
                            <td class='align-middle'>{{ transaction.asset_name }}</td>
                            <td class='align-middle'>
                              {% if transaction.transaction_type == "Buy" %}
                                <span class="text-success fw-bold">+{{ transaction.amount }} {{ transaction.asset_name }}</span>
                              {% elif transaction.transaction_type == "Sell" %}
                                <span class="text-danger fw-bold">{{ transaction.amount }} {{ transaction.asset_name }}</span>
                              {% endif %}
                              </td>
                            <td class='align-middle'>{{ transaction.price_per_coin }} $ </td>
                            <td class='align-middle fw-bold'>{{ transaction.total|floatformat:"2" }} $</td>
                            <td class='align-middle'>
                              <a class="" href="{% url 'delete_transaction' current_portfolio.id current_holding.id transaction.id %}">
                                <img src="{% static 'img/trash.png' %}" alt="" width="20" height="20" class="d-inline-block align-text-top">
                              </a>
                            </td>
                          </tr>
                      {% endfor %}
                  {% endif %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- ___________________________________________END ROW 1___________________________________________-->

  <!-- ___________________________________________ROW 2___________________________________________-->
  <div class="row my-5 mx-4">

    <div class="row">
      <div class="container mx-2">
        <div class="card shadow-sm" style="border-radius: 20px;">
          <div class="card-body m-2" >
            <h3 class="card-title">
            {% for coin in coin_api %}
              {% if coin.symbol|upper == current_holding.asset_name %}
                  {{ coin.name }} Balance Overtime <img src="{{ coin.image }}" style="height:30%; width:3%; object-fit: contain;" alt="Responsive image">
              {% endif %}                
            {% endfor %}
              
            </h3>
            <canvas id="line-chart" width="100%" height="40"></canvas>
            <script>
              new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                  labels: {{date|safe}},
                  datasets: [{ 
                      data: {{amount|safe}},
                      label: "{{ current_holding.asset_name }} Amount",
                      borderColor: "#3e95cd",
                      fill: false
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: 'World population per region (in millions)'
                  }
                }
              });
            </script>      
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- ___________________________________________END ROW 2___________________________________________-->
  <script>
    $(function () {
      $("#id_transaction_date").datetimepicker({
        format: 'Y-m-d H:i',
        theme: 'dark',
        minDate:'2015/01/01'
      });
    });
  </script>
{% endblock %}