{% extends 'home/base_nonav.html' %}
{% load static %}
{% load humanize %}

{% block styles %}
{% endblock %}

{% block title %}
{{ current_portfolio.name }} Dashboard | MoonPortfolio 
{% endblock %}


{% block horizontal_navabar %}
  <span style="color: #FFF5EE;">{{ current_portfolio.name }} Dashboard</span>
{% endblock %}

{% block body %}
  {% if user_holdings %}
    <!-- ___________________________________________ROW 1___________________________________________-->
    <div class="row mt-3 mx-4" style="color: white;">
      
      <div class="col-4 my-3">
        
        <div class="card shadow-sm" style="width: 100%; border-radius: 20px; background-color: #191937;">
          <div class="card-body m-3">
            <div class="row">

              <h4 class="card-title">Balance Details</h4>

              <div class="col">
                <h1 class="fw-bold">
                  ${{ current_balance.current_value__sum|floatformat:"2" }}
                </h1>
                <h6 class="text-secondary fw-bold">
                  ≈ 0.01 BTC
                </h6>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col">

                <div class="row mx-2">

                  <div class="col">
                    <!--TOP PERFORMANCE-->
                    <div class="cardanimation">
                      {% for holding in user_holdings %}
                          {% if current_portfolio.top_performance_name == holding.asset_name %}
                            <a style="text-decoration: none; color: white;" href="{% url 'holding_details' current_portfolio.id holding.id %}">
                              {% for coin in coin_data %}
                                {% if current_portfolio.top_performance_name == coin.symbol|upper %}
                                  <div style="float:left; margin-right:5px;">
                                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                                    <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_6if6i6i8.json"  background="transparent"  speed="1"  style="width: 18px; height: 18px;"  loop  autoplay></lottie-player>
                                  </div>                                  
                                  <p class="card-title">
                                    Top coin
                                  </p>
                                  <h6 class="card-subtitle mb-2 text-muted">
                                    {{ coin.name }}<img src="{{ coin.image }}" style="height:25%; width:10%; object-fit: contain;" alt="Responsive image">
                                  </h6>
                                {% endif %}
                              {% endfor %}
                              <p class="fw-bold m-0" style="color: #96C768;">+${{ current_portfolio.top_performance_value |floatformat:"2" }}</p>
                            </a>
                          {% endif %}
                        {% endfor %}
                    </div>
                  </div>

                  <div class="col">
                    <!--WORST PERFORMANCE-->
                    <div class="cardanimation">
                      {% for holding in user_holdings %}
                        {% if current_portfolio.worst_performance_name == holding.asset_name %}
                          <a style="text-decoration: none; color: white;" href="{% url 'holding_details' current_portfolio.id holding.id %}">
                            {% for coin in coin_data %}
                              {% if current_portfolio.worst_performance_name == coin.symbol|upper %}
                                <div style="float:left; margin-right:5px;">
                                  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                                  <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_ekk9kzbt.json"  background="transparent"  speed="1"  style="width: 18px; height: 18px;"  loop  autoplay></lottie-player>
                                </div>    
                                <p class="card-title">
                                  Worst coin
                                </p>
                                <h6 class="card-subtitle mb-2 text-muted">
                                  {{ coin.name }}<img src="{{ coin.image }}" style="height:25%; width:10%; object-fit: contain;" alt="Responsive image">
                                </h6>
                              {% endif %}
                            {% endfor %}
                            <p class="fw-bold text-danger m-0">${{ current_portfolio.worst_performance_value |floatformat:"2" }}</p>
                          </a>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>

                </div>

                <div class="collapse show mt-4" id="pieChart">
                  <div class="card card-body shadow-sm" style="background-color: #191937; border-radius: 30px;">

                    <canvas id="myChart" width="100%" height="50%" style="max-height: 250px; min-height: 250px;"></canvas>
                    <script>
                      
                      var config = {
                        type: 'doughnut',
                        data: {
                          datasets: [{
                            data: {{ holdings_percentages|safe }},
                            backgroundColor: [
                              '#1982c4',
                              '#6a4c93',
                              '#8ac926',
                              '#ffca3a',
                              '#ff595e',
                              '#70d6ff',
                              '#fd3535'
                            ],
                            hoverOffset: 4,
                            cutout:"70%"
                          }],
                          labels: {{ asset_names|safe }}
                        },
                        options: {
                          responsive: true
                        }
                      };

                      var myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                      );
                    </script>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <!-- _____________________________ASSET CARD_____________________________-->
      <div class="col mt-3">
        <div class="card shadow-sm" style="width: 100%; border-radius: 20px; background-color: #191937; color: white;">
          <div class="card-body m-3" id="group">
            <h4 class="card-title">Assets</h4>
            <table class="table table-hover table-responsive table-borderless" style="color: white;" id="assets" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th scope='col'>Name</th>
                  <th scope='col'>Average Buy Price</th>
                  <th scope='col'>Holdings</th>
                </tr>
              </thead>

              <tbody>
                {% for holding in user_holdings %}
                  <tr>
                    <td class='align-middle'>
                    {% for coin in coin_data %}
                      {% if coin.symbol|upper == holding.asset_name %}
                        <a style="text-decoration: none; color: white;" href="{% url 'asset' coin.symbol|lower %}" target="_blank">
                          <img src={{ coin.image }} height='30' style="padding-right: 10%;">
                          <span class="fw-bold">{{ coin.name }}</span>
                          <span class="text-secondary">{{ holding.asset_name }}</span>
                        </a>
                      {% endif %}
                    {% endfor %}
                    </td>
                    
                    <td class='align-middle'>
                      {% for coin in coin_data %}
                        {% if coin.symbol|upper == holding.asset_name %}
                          <a style="text-decoration: none; color: white;" href="{% url 'holding_details' current_portfolio.id holding.id %}">
                            <span class="fw-bold">
                              {% for coin in coin_data %}
                                {% if coin.symbol|upper == holding.asset_name %}
                                  ${{ holding.average_buy_price }}
                                {% endif %}
                              {% endfor %}
                            </span>
                          </a>
                        {% endif %}
                      {% endfor %}
                    </td>

                    <td class='align-middle'>
                      <a style="text-decoration: none; color: white;" href="{% url 'holding_details' current_portfolio.id holding.id %}">
                        <span class="fw-bold">
                          {% for coin in coin_data %}
                            {% if coin.symbol|upper == holding.asset_name %}
                              ${{ holding.current_value|floatformat:"2" }}
                            {% endif %}
                          {% endfor %}
                        </span>
                        </br>
                        <span class="text-secondary"> 
                          {% for coin in coin_data %}
                            {% if coin.symbol|upper == holding.asset_name %}
                              {{ holding.total_asset_amount|floatformat:"2" }} {{ holding.asset_name }}
                            {% endif %}
                          {% endfor %}
                        </span>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>

            </table>

          </div>
        </div>
      </div>

    </div>
    <!-- ___________________________________________END ROW 1___________________________________________-->

    <!-- ___________________________________________ROW 2___________________________________________-->
    <div class="row my-5 mx-4">

      <div class="col">

        <div class="card shadow-sm" style="background-color: #191937; color: white; width: 100%; height=400px;border-radius: 20px;">
          <div class="card-body m-3">
            <h3 class="card-title">
              Latest transactions <a class="float-end" href"" data-bs-toggle="modal" data-bs-target="#transactionHistoryModal">See all</a>
            </h3>
            
            <table class="table table-hover" style="color: white;" id="assets" cellspacing="0" width="100%" >
              <thead>
                <tr>
                  <th scope='col'>Date</th>
                  <th scope='col'>Type</th>
                  <th scope='col'>Asset</th>
                  <th scope='col'>Amount</th>
                  <th scope='col'>Price Per Coin</th>
                  <th scope='col'>Total</th>
                </tr>
              </thead>
              <tbody>
                {% if transactions %}
                  {% for transaction in last_transactions %}
                    <tr>
                      <td class='align-middle'>{{ transaction.transaction_date }}</td>
                      <td class='align-middle'>{{ transaction.transaction_type }}</td>
                      <td class='align-middle'>{{ transaction.asset_name }}</td>
                      <td class='align-middle'>
                        {% if transaction.transaction_type == "Buy" %}
                          <span class="text-success fw-bold">+{{ transaction.amount }} {{ transaction.asset_name }}</span>
                        {% elif transaction.transaction_type == "Sell" %}
                          <span class="text-danger fw-bold">{{ transaction.amount }} {{ transaction.asset_name }}</span>
                        {% endif %}
                        </td>
                      <td class='align-middle'>{{ transaction.price_per_coin }} $ </td>
                      <td class='align-middle fw-bold'>{{ transaction.total|floatformat:"2" }} $</td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>              
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm" style="background-color: #191937; color: white; border-radius: 20px;">
          <div class="card-body m-2">
            <h3 class="card-title">Balance Overtime</h3>
            
          </div>
        </div>
      </div>

    </div>
    <!-- ___________________________________________END ROW 2___________________________________________-->

    <!-- ___________________________________________ROW 3___________________________________________-->
    <div class="row my-5 mx-4">

      <div class="col">

      </div>

      <div class="col">

      </div>

    </div>
    <!-- ___________________________________________END ROW 3___________________________________________-->     

    <!-- ___________________________________________MODALS___________________________________________-->
    <!-- Modal -->
    <div class="modal fade" id="transactionHistoryModal" tabindex="-1" aria-labelledby="transactionHistoryModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content"  style="border-radius: 30px;">
          <div class="modal-header">
            <h5 class="modal-title m-2" id="transactionHistoryModal">📜 Transaction History</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body text-center m-1">
            <table class="table table-hover" id="assets" cellspacing="0" width="100%" >
              <thead>
                <tr>
                  <th scope='col'>Date</th>
                  <th scope='col'>Type</th>
                  <th scope='col'>Asset</th>
                  <th scope='col'>Amount</th>
                  <th scope='col'>Price Per Coin</th>
                  <th scope='col'>Total</th>
                </tr>
              </thead>
              <tbody>
                {% if transactions %}
                  {% for transaction in transactions %}
                    <tr>
                      <td class='align-middle'>{{ transaction.transaction_date }}</td>
                      <td class='align-middle'>{{ transaction.transaction_type }}</td>
                      <td class='align-middle'>{{ transaction.asset_name }}</td>
                      <td class='align-middle'>
                        {% if transaction.transaction_type == "Buy" %}
                          <span class="text-success fw-bold">+{{ transaction.amount }} {{ transaction.asset_name }}</span>
                        {% elif transaction.transaction_type == "Sell" %}
                          <span class="text-danger fw-bold">{{ transaction.amount }} {{ transaction.asset_name }}</span>
                        {% endif %}
                        </td>
                      <td class='align-middle'>{{ transaction.price_per_coin }} $ </td>
                      <td class='align-middle fw-bold'>{{ transaction.total|floatformat:"2" }} $</td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script>
      $(function () {
        $("#id_transaction_date").datetimepicker({
          format: 'Y-m-d H:i',
          theme: 'dark',
          minDate:'2015/01/01'
        });
      });

    </script>

  {% elif not user_holdings %}
    <!-- ___________________________________________ROW 1___________________________________________-->
    <div class="row m-4">

      <div class="container text-center mb-4">
        <div class="d-flex justify-content-center">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_dnshkwsb.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
        </div>
        <h3>Create your first transaction in your {{ current_portfolio.name }} Portfolio now !</h3>
        <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#addTransactionModal" style="border-radius: 25px;">
          <img src="{% static 'img/plus.svg' %}" alt="" width="15" height="15" class="m-1 align-text-center">  Add Transactions Now !
        </button>
      </div>

    </div>
    <!-- ___________________________________________END ROW 1___________________________________________-->

    <!-- ___________________________________________MODALS___________________________________________-->
    <!-- Modal -->
    <div class="modal fade" id="transactionHistoryModal" tabindex="-1" aria-labelledby="transactionHistoryModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content"  style="border-radius: 30px;">
          <div class="modal-header">
            <h5 class="modal-title m-2" id="transactionHistoryModal">📜 Transaction History</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body text-center m-1">
            <table class="table table-hover" id="assets" cellspacing="0" width="100%" >
              <thead>
                <tr>
                  <th scope='col'>Date</th>
                  <th scope='col'>Type</th>
                  <th scope='col'>Asset</th>
                  <th scope='col'>Amount</th>
                  <th scope='col'>Price Per Coin</th>
                  <th scope='col'>Total</th>
                </tr>
              </thead>
              <tbody>
                {% if transactions %}
                  {% for transaction in transactions %}
                    <tr>
                      <td class='align-middle'>{{ transaction.transaction_date }}</td>
                      <td class='align-middle'>{{ transaction.transaction_type }}</td>
                      <td class='align-middle'>{{ transaction.asset_name }}</td>
                      <td class='align-middle'>{{ transaction.amount }} {{ transaction.asset_name }}</td>
                      <td class='align-middle'>{{ transaction.price_per_coin }} $ </td>
                      <td class='align-middle'>{{ transaction.total|floatformat:"2" }} $</td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
    <script>
      $(function () {
        $("#id_transaction_date").datetimepicker({
          format: 'Y-m-d H:i',
          theme: 'dark',
          minDate:'2015/01/01'
        });
      });
    </script>

  {% endif %}

{% endblock %}