{% extends 'home/base_nonav.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block title %}
MoonPortfolio | Dashboard
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}

<div class="container mx-0 m-0">
  <div class="row">
    <div class="col-2 bg-dark p-0">

      <nav class="nav flex-column navbar-expand-lg py-2">
        <a class="navbar-brand text-light text-center m-0 mb-1" href="{% url 'dashboard' %}">
          <img src="{% static 'img/moon.png' %}" alt="" width="24" height="24" class="d-inline-block align-text-top">
          MoonPortfolio  
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="nav-link active text-light mx-2 my-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          💼 Portfolios
        </a>
        <div class="collapse mx-3" id="collapseExample">
          {% for all_portfolio in all_portfolio %}
            {% if all_portfolio.user_id == request.user.id %}
              <a class="nav-link active text-light" href="{% url 'dashboard' all_portfolio.name %}">{{ all_portfolio.name }}</a>
            {% endif %}
          {% endfor %}
        </div>


        <a class="nav-link text-light mx-2 my-2" href="" data-bs-toggle="modal" data-bs-target="#transactionHistoryModal">
          📜 Transactions
        </a>

        <a class="nav-link text-light mx-2 my-2" href="{% url 'market_simplified' %}" target="_blank">
          ⚖ Market
        </a>

        <a class="nav-link text-light mx-2 my-2" href="{% url 'blog' %}" target="_blank">
          🗂 Blog
        </a>

        <a class="nav-link text-light mx-2 my-2" href="{% url 'profile' %}" target="_blank">
          ⚙ Profile settings
        </a>


        <!-- Modal -->
        <div class="modal fade" id="transactionHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">📜 Transaction History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body text-center">
                <table class="table table-hover table-bordered table-dark" id="coins" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th scope='col'>Type</th>
                          <th scope='col'>Asset</th>
                          <th scope='col'>Amount</th>
                          <th scope='col'>Price Per Coin</th>
                          <th scope='col'>Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% if transactions %}
                          {% for transaction in transactions %}
                              <tr>
                                  <td class='align-middle'>{{ transaction.transaction_type }}</td>
                                  <td class='align-middle'>{{ transaction.asset_name }}</td>
                                  <td class='align-middle'>{{ transaction.amount }} {{ transaction.asset_name }}</td>
                                  <td class='align-middle'>{{ transaction.price_per_coin }} $ </td>
                                  <td class='align-middle'>{{ transaction.total|floatformat:"2" }} $</td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    

    <div class="col p-0 mb-5">

      <!-- ___________________________________________ROW 1___________________________________________-->
      <div class="row mt-2 mx-4">
        
        <h1>
          {{ portfolio_data.name }} Dashboard
                  <!-- Button trigger modal -->
          <button type="button " class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#addTransactionModal">
            <img src="{% static 'img/plus.svg' %}" alt="" width="15" height="15" class="m-1 align-text-center">  Add Transaction !
          </button>

          <!-- Modal -->
          <div class="modal fade" id="addTransactionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add a new Transaction</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                  <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Save">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </h1>

        <!-- _____________________________Card 1_____________________________-->
        <div class="col-4 mt-5">
          <div class="card" style="width: 100%;">
            <div class="card-body m-2" id="group">
              <h3 class="card-title">Current Balance 💰</h3>
              <h1 class="fw-bold">
                ${{ total.total__sum|floatformat:"2" }}
              </h1>

              <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#pieChart" role="button" aria-expanded="false" aria-controls="pieChart">
                  Pie chart
                </a>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#totals" aria-expanded="false" aria-controls="totals">
                  Statistics
                </button>
              </p>
              <div class="collapse show" id="pieChart">
                <div class="card card-body">

                  <canvas id="myChart" width="100%" height="100%"></canvas>
                  <script>
                    
                    var config = {
                      type: 'doughnut',
                      data: {
                        datasets: [{
                          data: {{ data|safe }},
                          backgroundColor: [
                            '#173F5F', '#20639B', '#3CAEA3', '#F6D55C', '#ED553B'
                          ],
                          hoverOffset: 4
                        }],
                        labels: {{ labels|safe }}
                      },
                      options: {
                        responsive: true
                      }
                    };

                    var myChart = new Chart(
                      document.getElementById('myChart'),
                      config
                    );
                  </script>

                </div>
              </div>

              <div class="collapse" id="totals">
                <div class="card card-body">
                  <h3 class="card-title">Total Profit/Loss</h3>
                </div>
                <div class="card card-body">
                  <h3 class="card-title">Total Invested</h3>
                  <h1 class="fw-bold">${{ total.total__sum|floatformat:"2" }}</h1>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="col mt-5">

          <div class="card" style="width: 100%;">
            <div class="card-body m-2">
              <h3 class="card-title">Your Assets 📈</h3>
              
              <table class="table table-hover " id="coins" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th scope='col'>Name</th>
                        <th scope='col'>Price/24h Change</th>
                        <th scope='col'>Holdings</th>
                    </tr>
                </thead>
                <tbody>
                  {% for amount in amount_sum_per_coin %}
                    <tr>
                        <td class='align-middle'>
                        {% for coin in coin_data %}
                          {% if coin.symbol|upper == amount.asset_name %}
                            <img src={{ coin.image }} height='30' style="padding-right: 10%;">
                            <span class="fw-bold">{{ coin.name }}</span>
                            <span class="text-secondary">{{ amount.asset_name }}</span>
                          {% endif %}
                        {% endfor %}
                        </td>
                        
                        <td class='align-middle'>
                          {% for coin in coin_data %}
                            {% if coin.symbol|upper == amount.asset_name %}
                              ${{ coin.current_price }}
                              {% if coin.price_change_percentage_24h >= 0 %}
                                  <span class="text-success" style="color=green;">(+{{ coin.price_change_percentage_24h|floatformat:"2" }}%)</span>
                                  <img src="{% static 'img/up.png' %}" alt="" width="15" height="15"> 
                              {% elif coin.price_change_percentage_24h < 0 %}
                                  <span class="text-danger">({{ coin.price_change_percentage_24h|floatformat:"2" }}%)</span>
                                  <img src="{% static 'img/down.png' %}" alt="" width="15" height="15"> 
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </td>

                        <td class='align-middle'>

                          <span class="">
                            {% for coin in coin_data %}
                              {% if coin.symbol|upper == amount.asset_name %}
                                ${{ coin.current_price|mul:amount.amount__sum|floatformat:"2" }}
                              {% endif %}
                            {% endfor %}
                          </span>

                          </br>

                          {% for price in price_sum_per_coin %}
                            {% if price.asset_name == amount.asset_name %}
                              ${{ price.total__sum|floatformat:"2" }}
                            {% endif %}
                          {% endfor %}

                          </br>
                          
                          <span class="text-secondary">{{ amount.amount__sum|floatformat:"2" }} {{ amount.asset_name }}</span>
                        </td>

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- ___________________________________________END ROW 1___________________________________________-->

      <!-- ___________________________________________ROW 2___________________________________________-->
      <div class="row m-5">

        <div class="col mt-5">

        </div>

        <div class="col mt-5">


        </div>

      </div>
      <!-- ___________________________________________END ROW 2___________________________________________-->

    </div>
  </div>
</div>

{% endblock %}